html, body {
margin: 0;
padding: 0;
color: #71797E;
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
}
@font-face {
font-family: Montserrat;
src: url('Montserrat-Medium.ttf');
}
#pageTitle{
text-align:left;
font-size:38px;
font-family:Montserrat,Arial; /* browser will use Arial if Montserrat not available */
margin-top:10px;
margin-bottom:30px;
}
#categoryArea{
width:300px;
height:25px;
margin:auto;
margin-top:10px;
margin-bottom:10px;
position:relative;
overflow:hidden;
}
#category{
text-align:center;
font-size:20px;
font-family:Montserrat,Arial;
}
#cardArea{
width:400px;
height:300px;
margin:auto;
border-radius:5px;
position:relative;
overflow:hidden;
}
.card{
width:380px;
height:300px;
position:absolute;
margin:auto;
padding-top:50px;
padding-left:10px;
padding-right:30px;
overflow-wrap:break-word;
text-align:center;
font-size:20px;
color:#efefef;
font-family:Montserrat,Arial;
cursor:pointer;
}
#nextButton{
width:80px;
text-align:center;
font-size:15px;
padding:10px;
cursor:pointer;
color:#efefef;
margin:auto;
margin-top:30px;
background-color:#71797E;
border-radius:5px;
font-family:Montserrat,Arial;
}
#nextButton:hover{
opacity:.6;
}
#gameOver{
text-align:center;
font-size:30px;
margin-top:30px;
font-family:Montserrat,Arial;
}